body{
    background-image: url("shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.diya{
    height: 300px;
    width:300px;
    background-image: url("water sensor diya.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    margin-left:auto;
    margin-right: auto;
}
#myButton{
    background-color: black;
    color:white;
}
button {
    display:block;
    margin-left:auto;
    margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}